.corpo{
    background-color: black;
    color: beige;
    text-align: center;
    border: 100px;
    border-style: double;
    border-color: blue;
}

p{
    color: green;
    font-size: 20px;
}

#link{
    color: red;
    text-decoration: none;
}

link:hover{
    color: gold;
    font-size: 15px;
}
#imagem-estudante{
    border: dotted 10px blue;
    width: 800px;
    height: 800px;
}
